{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Some Cool Messages{% endblock %}</h1>
{% endblock %}

{% block content %}

{% for message in messages_list %}
    <tr>
        <td>{{ message[1] }}</td>
        <br>
        <td>- {{ message[2] }}</td>
        <br>
        <br>
    </tr>
{% endfor %}
<iframe src="https://giphy.com/embed/G4kXSo1onvYhW" width="480" height="320" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/video-games-nintendo-animal-crossing-G4kXSo1onvYhW">via GIPHY</a></p>
{% endblock %}